.invite-holder {
  color: #5C6874;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .invite-holder .invite {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0; }
    .invite-holder .invite ul {
      background: #fff;
      padding: 20px;
      height: 80%;
      margin: 0 auto;
      border: 1px solid; }
      .invite-holder .invite ul:after {
        content: "Future Feature";
        transform: rotate(-24deg) translate(-50%, -50%);
        transform-origin: 0;
        position: absolute;
        top: 45%;
        font-size: 32px;
        color: red;
        font-weight: bold;
        text-shadow: 2px 2px 7px #b1b1b1;
        left: 50%; }
    .invite-holder .invite li {
      margin: 5px 10px;
      padding: 10px 0; }
      .invite-holder .invite li:not(:last-child) {
        border-bottom: 1px solid #EFEFF9; }
    .invite-holder .invite .cancel {
      background: white;
      text-align: center;
      padding: 20px; }
    .invite-holder .invite .cell {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px; }
    .invite-holder .invite .icon {
      color: green; }
