.button {
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 15px;
  color: white;
  border: 0; }

.add-item-button {
  background-image: linear-gradient(0deg, #74bcf7 0%, #ad6bff 100%);
  text-align: center;
  color: white;
  display: block;
  font-size: 36px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.1); }
  .add-item-button .icon {
    height: 100%; }
  .add-item-button svg {
    vertical-align: text-bottom;
    position: relative;
    top: -1px;
    height: 100%; }

.create-account,
.create-event-form {
  padding: 0 15px 100px;
  min-height: 100vh;
  position: relative; }
  .create-account h1,
  .create-event-form h1 {
    text-align: center;
    padding-top: 25px;
    margin: 0 0 15px 0;
    color: white; }
  .create-account form,
  .create-event-form form {
    margin-top: 10px; }
  .create-account section,
  .create-event-form section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -4px; }
    .create-account section p,
    .create-event-form section p {
      text-align: left; }
    .create-account section h3,
    .create-event-form section h3 {
      margin: 10px 0 4px 4px;
      text-transform: capitalize;
      width: 100%; }
    .create-account section span,
    .create-event-form section span {
      flex-grow: 1;
      box-sizing: border-box;
      margin: 4px; }
  .create-account [type='text'],
  .create-account [type='textarea'],
  .create-account [type='email'],
  .create-event-form [type='text'],
  .create-event-form [type='textarea'],
  .create-event-form [type='email'] {
    width: 100%;
    border-radius: 3px;
    border: 0;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box; }
    .create-account [type='text']::-webkit-input-placeholder,
    .create-account [type='textarea']::-webkit-input-placeholder,
    .create-account [type='email']::-webkit-input-placeholder,
    .create-event-form [type='text']::-webkit-input-placeholder,
    .create-event-form [type='textarea']::-webkit-input-placeholder,
    .create-event-form [type='email']::-webkit-input-placeholder {
      color: white; }
  .create-account [type='textarea'],
  .create-event-form [type='textarea'] {
    height: 100px;
    resize: none; }
  .create-account input[type="checkbox"],
  .create-account input[type="radio"],
  .create-event-form input[type="checkbox"],
  .create-event-form input[type="radio"] {
    display: none; }
    .create-account input[type="checkbox"]:checked + label,
    .create-account input[type="radio"]:checked + label,
    .create-event-form input[type="checkbox"]:checked + label,
    .create-event-form input[type="radio"]:checked + label {
      background-color: #74bcf7;
      color: white; }
    .create-account input[type="checkbox"]:checked + label:after,
    .create-account input[type="radio"]:checked + label:after,
    .create-event-form input[type="checkbox"]:checked + label:after,
    .create-event-form input[type="radio"]:checked + label:after {
      display: inline-block;
      opacity: 1; }
  .create-account label,
  .create-event-form label {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.2em 0.6em 0 0.2em;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
    box-sizing: border-box;
    text-transform: capitalize; }
  .create-account .image-uploader--image-container,
  .create-event-form .image-uploader--image-container {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 6px; }
  .create-account .image-uploader--photo,
  .create-event-form .image-uploader--photo {
    min-width: 100%;
    min-height: 100%; }
  .create-account .image-uploader--upload,
  .create-event-form .image-uploader--upload {
    opacity: 1 !important;
    position: relative !important; }
    .create-account .image-uploader--upload:after,
    .create-event-form .image-uploader--upload:after {
      content: "Upload an Image";
      width: 100%;
      color: #4d606f;
      height: 30px;
      text-align: center;
      padding: 20px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      opacity: 1;
      position: absolute;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer;
      top: 0; }
  .create-account .state-field,
  .create-event-form .state-field {
    max-width: none;
    text-align: center;
    text-transform: uppercase; }
    .create-account .state-field::-webkit-input-placeholder,
    .create-event-form .state-field::-webkit-input-placeholder {
      text-transform: none; }
  .create-account .address,
  .create-event-form .address {
    padding: 0 4px; }
  .create-account .no-wrap,
  .create-event-form .no-wrap {
    flex-wrap: nowrap; }
  .create-account .button,
  .create-event-form .button {
    margin: 40px 0 0; }
